<%- include ("partials/header") %> 

<h1>laindingpage</h1>

<a href="/campgrounds/new" >new campgrounds</a>
<h1>welcome to yelpcamp</h1>

<a href="/campgrounds">view all camp grounds</a>


<%- include ("partials/footer") %> 

